@import "../variables";
@import "../mixins";

.button {
    border: solid $white 1px;
    display: block;
    padding: 9.5px;
    position: relative;
    overflow: hidden;
}

.button__wrapper {
    @include center(false,true);
    height:100%;

}

.button__content {
    @include center(false,true);
    position: absolute;
    color: $white;
    font-size: $button_text_size;
    display: inline-block;
    vertical-align: middle;
}

.button__content.button__content--over {
    color: $blue;
    transform: translateY(-10px);
    opacity: 0;
}

.button__background {
    z-index: -1;
    background-color: $blue;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    position: absolute;
}

.button__background--over {
    background-color: $white;
    transform: translateY(33px);
}

.button--normal {
    border-color: $light_black;

    .button__background--over {
        background-color: $light_black ;
    }

    .button__content {
        color: $light_black;

        &.button__content--over {
            color: $light_green;
        }
    }
}

.button--danger {
    border-color: $red;
    .button__background--over {
        background-color: $red ;
    }

    .button__content {
        color: $light_grey;

        &.button__content--over {
            color: $white;
        }
    }
}

.button--light-dark {
    border-color: $grey;
    .button__content {
        color: $light_grey;

    }
    .button__background--over {
        background-color: $grey;
    }
}

.button--success {
    border-color: $light_green;

    .button__background--over {
        background-color: $light_green ;
    }

    .button__content {
        color: $light_black;

        &.button__content--over {
            color: $white;
        }
    }
}

.button__icon {
    @include center(false, true);
    right:0;
    position: absolute;
}

.button__icon {

    &.button__icon--over {
        transform: translateY(10px);
        opacity: 0;
    }
}

.button__icon.button__icon--bottom {
    left:0;
}

.button__content.button__content--bottom {
    right:0;
}