@import "../variables";
@import "../mixins";

.best-seller {
    height: 400px;
    width: 100%;
}

.best-seller__filters {
    float: right;
}


@media all and (max-width: $tablet){
    .best-seller {
        height:auto;
    }
    .best-seller__filters {
        float: none;
    }
}