@import "../variables";
@import "../mixins";

.page__footer {
    background-color: $blue;
    margin-top: 84px;
    padding-top: 49px;
    padding-bottom: 45px;
}

.page__footer__nav {
    display: inline-block;
    vertical-align: top;
    min-width: 137px;

}

.nav__title {
    font-size: $footer_nav_size;
    font-weight: bold;
    color: $white;
}

.nav__items {
    margin-top: 33px;
}

.page__footer__nav:not(:last-child) {
    margin-right: 89px;
}

.nav__items__item__name {
    font-size: $footer_nav_size;
    color: $semi_transparent_white;
    line-height: 20px;
    transition: color 0.4s;

}

.nav__items__item__name:hover {
    color: $white;
}


.nav__items__item__name.nav__items__item__name--active {
    color: $white;
}

@media all and (max-width: $tablet){

    .page__footer__nav:not(:last-child) {
        margin-right: 25px;
    }
    
    .nav__items__item,.nav__title {
        text-align: center;
    }

    .page__footer--wrapper {
        display: inline-block;
        width: auto;
    }

    .page__footer__nav {
        margin-top: 44px;
    }

}

@media all and (max-width: $phone){

    .page__footer__nav,.page__footer__nav:not(:last-child) {
        margin: 0;
        display: block;
    }
    .page__footer__nav:not(:last-child) {

        margin-bottom: 45px;

    }

}