/*Colors*/

$blue : #170cff;
$red : #ff3f0c;
$white : rgba(255,255,255,1);
$semi_transparent_white : rgba(255,255,255,0.6);
$light_green : #0cff56;
$black : rgba(0,0,0,1);
$light_black : #212121;

$light_grey : #555555;
$semi_light_grey : #e6e6e6;
$accent_grey : #d6d6d5;
$clear_grey : #a6a6a6;
$darker_light_grey : #efefef;
$grey : #d6d6d6;
$disabled_grey : #c6c6c6;

/*Size*/

$header_font_size : 15px;
$header_height : 101px;

$hero_paragraph_font_size : 11px;
$hero_title_font_size : 14px;

$product_title_size : 24px;
$product_filter_size : 14px;

$new_title_size : 14px;

$slider_title_size : 18px;
$slider_description_size : 14px;

$order_list_title_size : 18px;
$order_list_item_name_size : 14px;
$order_status_size: 10px;

$formation_group_size : 11px;
$formation_title_size : 14px;
$formation_status_size : 10px;

$sales_title_size : 14px;

$button_text_size : 14px;

$select_option_size : 14px;

$filter_label_font_size : 14px;

$icon_input_size : 14px;

$footer_nav_size : 14px;

/*Fonts*/

$main_font : Arial;


/*width*/

$wrapper_width :923px;

/* padding */
$wrapper_padding : 49px 0;
$news_padding : 59px 0;
$order_padding : 52px 0;
$sales_padding : 38px 0 ;
$sales__header__padding : 0 49px;
$footer__padding : 50px 0;


/* media querries */

$desktop : 1600px;
$tablet : 1024px;
$phone : 480px;